body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

input[type="number"] {
    padding: 5px;
    width: 50px;
}

button {
    padding: 5px 10px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    color: #333;
    font-size: 18px;
}

#message {
    font-weight: bold;
    margin-top: 20px;
}

#attempts {
    font-weight: bold;
    font-size: 24px;
    color: #0074d9;
}
